*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
        
img{
            width: 70vw;
            margin-left: 15vw;
            
}

.forside{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
}


.menu {
        width: 15vw;
        height: 8vw;
        position: absolute;
        top:0;
        cursor: pointer;
}

.p2:hover ~ .mi1{
         display: block;
        }


.mindhold:hover{
         display: block;
        }


    .p1 {
        
        left: 15vw; 
           
        }

    .p2 {
        left: 30vw;     
        }

     .hjem {
        left: 45vw;
        }

    .p3 {
        left: 56vw;     
        }

    .p4 {
        left: 71vw;     
        }
.mindhold li{
        font-size: 18px;
        margin: 7%;
        list-style: none;
        cursor: pointer;
}

.mindhold {
         width: 20vw;
         height: auto;
         display: none;
         background-color: white;
         box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 1%;
}

.mi1 {
         position: absolute;
         top: 8vw;
         left: 30vw;
        }

.vej-art {
        width: 70vw;
        margin-left: 15vw;
        height: 100vh;
        position: absolute;
        top: 30vw;
       
        cursor: pointer;
}

.comm-art {
        width: 50vw;
        margin-left: 35vw;
        height: 100vh;
        position: absolute;
        top: 20vw;
       
        cursor: pointer;
}
